<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" bgcolor="#9B9B9B" valign="top">
			<table align="center" bgcolor="#262830" border="0" cellpadding="0" cellspacing="0" class="MFullWidth" style="margin: 0 auto; width: 600px; color:#ffffff;" width="600">
				<tbody>
					<tr>
						<td align="center" class="padSides20" style="padding: 0px 30px 30px 30px;" valign="top">
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td align="left" class="reduceTextSize" style="font-family: Arial, sans-serif; color:#ffffff; font-size:39px;" valign="top">Finally, a more accurate, reliable and timely view of the UK real estate market</td>
								</tr>
								<tr>
									<td align="left" style="font-family: Arial, sans-serif; color:#ffffff; font-size: 14px; line-height:20px; padding-top: 20px;" valign="top">CBRE, JLL, Savills, Colliers International, Cushman &amp; Wakefield, GVA, Knight Frank, BNP Paribas Real Estate and Gerald Eve were among the first to start sharing their data and have been joined by firms including Carter Jonas, Bidwells and many more.
									<br />
									<br />
									Tony Horrell, Chief Executive for Colliers International explains for these firms Radius Data Exchange is about having the insight you need instantly, rather than having to put together pages and pages of long and laborious reports.
									<br />
									<br />
									Join UK real estate&rsquo;s rapidly growing data sharing community and realise the true value of market data today.</td>
								</tr>
								<tr>
									<td align="center" style="padding-top: 20px;" valign="top">
									<table align="left" border="0" cellpadding="0" cellspacing="0" class="MFullWidth" style="width: 430px" width="450">
										<tbody>
											<tr>
												<td>
												<table align="left" border="0" cellpadding="0" cellspacing="0" class="MFullWidth" style="width: 430px" width="450">
													<tbody>
														<tr>
															<td>
															<table align="left" border="0" cellpadding="0" cellspacing="0" class="MFullWidth padTop20" style="width:230px" width="230">
																<tbody>
																	<tr>
																		<td align="center" bgcolor="#ff6347" style="font-family: Arial, sans-serif; font-size: 14px; color: #FFFFFF; padding: 10px;" valign="middle"><a href="http://img.en25.com/Web/EstatesGazette/%7ba16c849f-cfa6-45dc-868d-db2359d0f8b1%7d_Radius_Product_Awareness_brochure_280218.pdf/?cmpid=EMC|EGIx|EGT17-2017-egosb_201802_eloqua_agents_radius-introduction|Em2-test&elqTrackId=23568877ac224e70800d84ba46a4e0ff&elqTrack=true" style="text-decoration: none;font-family: Arial, sans-serif; font-size: 14px; color: #FFFFFF; text-transform: uppercase" target="_blank"><strong>DOWNLOAD THE BROCHURE</strong></a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>